@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
#title {
    margin-top: 30px;
    font-family: "Satisfy";
  }
#carrito {
  margin-top: 30px;
   width: 3em;
   height: 3em;
}

#precioCarta{
  font-weight: bold;
}

#precioFinal{
  font-weight: bold;
}

#cantidad {
  margin-top : 40px;
}
.menu {
    height: 6em;
    width: 69em;
    color: white;
    padding: 2.1em;
  }
.card {
    width: 16rem;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.card-img-top {
    height: 10em;
    width: 13em;
}

#agregarCarrito{
  color:white;
}


  
